@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="margin-top: 100px;" class="display-4">Bem-vindo</h1>
    <img src="~/images/logo.png" width="400px" height="200px" />

</div>
